<table>
  <th>Top Range Society Carbon Savers</th>
  <% @users.each_with_index do |user, index| %>
    <tr class="leaders">
      <td class="user-<%= index %>">Carbon Saver: <%= user.first_name %></td>
      <td class="user-<%= index %>-carbon">Carbon Saved: <%= user.carbon_saved %>kg</td>
    </tr>
  <% end %>
</table>
