<h1>My Trips</h1>
<div class="trip-log-list my-trips">
  <table>
    <th>Title:</th>
    <th>Length (miles):</th>
    <th>Description:</th>
    <th>Carbon Saved (kg):</th>
  <% @trip_logs.each do |trip_log| %>
    <tr id="trip-log">
      <td><%= trip_log.title %></td>
      <td><%= trip_log.miles %></td>
      <td><%= trip_log.description %></td>
      <td><%= trip_log.carbon_saved %></td>
    </tr>
  <% end %>
  </table>
</div>
