<body>
  <!-- Page Content -->
  <section>
    <div class="main-container">
      <p id="tagline">Adventure is within reach</p>
      <% unless current_user %>
        <%= button_to "Sign in With Google", google_login_path, method: :get, class: "btn btn-primary", id: "root-btn"  %>
      <% end %>
      <% if current_user %>
        <%= button_to "Search for Locations", new_search_path, method: :get, class: "btn btn-primary", id: "root-btn" %>
      <% end %>
    </div>
  </section>
</body>
