<div class="about col">
  <p>Around 98% of all single-trip journeys in the US are 50 miles or less in length. Despite almost all available EV's have a range that
  exceeds 50 miles, many people don't buy, consider, or use EV's. We're here to help change that, and to help current EV owners.</p>

  <p>Many EV owners experience a horrible thing called range anxiety.
  Range anxiety occurs when you are worried that you won't be able to get to places you want to go to
  because you think (or know) that your vehicle's range won't get you there and back.
  That's where Range Society comes to the rescue. Our app will help you find things to do within your
  EV's range, and to top it off, we'll help you find an EV charger near the place you're going so
  you can charge up while you're there.</p>

  <p>Once you've arrived to your destination or back home, you can log your trip on your
  dashboard, and see how much tailpipe carbon emisions you saved.</p>

  <p>Join us at Range Society, and discover the possibilities within your range.</p>
</div>
