.recent_destinations {
  background: #434C55 !important;
  border: 1px solid #FCA311 !important;
  width: 60%;
}

#name-banner {
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .col {
    font-size: 1.25em;
    font-weight: bold;
  }

  h4 {
    border-bottom: 1px solid #FCA311;
    padding-bottom: 3%;
    margin-top: 5%;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }

  .col {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .btn, .btn-primary {
    width: 50% !important;
    margin-left: 25% !important;
  }

  #recent {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
  }

  .recent_destinations ul {
    text-align: left;
  }

}

#stats {
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .col {
    font-size: 1.25em;
    font-weight: bold;
  }

  h4 {
    border-bottom: 1px solid #FCA311;
    padding-bottom: 3%;
    margin-top: 5%;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }

  .col {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .btn, .btn-primary {
    width: 50% !important;
    margin-left: 25% !important;
  }

  #recent {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
  }

  .recent_destinations ul {
    text-align: left;
  }

}
