input[type="text"]{
    background-color: transparent;
    border: 1px solid #FCA311;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search-location {
  color: black;
}

#ev_range {
    background-color: transparent;
    border: 1px solid #FCA311;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
}

#current-location, #submit-search {
  margin-left: 0% !important;
}


@media screen and (min-width: 768px) {

  .checks {
    display: inline;
  }

  .form-control {
    width: 40%;
    margin-left: 30%;
    margin-top: -15px;
    background: D0D3D2;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }

  .col {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .btn, {
    width: 90%;
  }

  .recent_destinations {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
  }

  .recent_destinations ul {
    text-align: left;
  }

  input#activities_ {
    margin-left: 5%;
  }

}

@media screen and (max-width: 768px) {

  .checks {
    display: inline;
  }

  .form-control {
    width: 30%;
    margin-left: 35%;
    margin-top: -15px;
    background: D0D3D2;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }

  .col {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .btn, #root-btn {
    width: 50%;
  }

  .recent_destinations {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
  }

  .recent_destinations ul {
    text-align: left;
  }

  input#activities_ {
    margin-left: 5%;
  }

}
