input[type="text"]{
    background-color: transparent;
    border: 1px solid #FCA311;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
}

::placeholder {
  color: white;
}

input#trip_log_miles, textarea#trip_log_description {
    background-color: transparent;
    border: 1px solid #FCA311;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
}

@media screen and (min-width: 768px) {

  input[type="text"]{
      background-color: transparent;
      border: 1px solid #FCA311;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: white;
  }

  ::placeholder {
    color: white;
  }

  input#trip_log_miles, textarea#trip_log_description {
      background-color: transparent;
      border: 1px solid #FCA311;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: white;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }



  .btn, {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 768px) {



  .form-control {
    width: 30%;
    margin-left: 35%;
    margin-top: -15px;
    background: D0D3D2;
  }

  .navbar .nav > li .navbar-toggle {
  z-index: 10000;
  }

  .col {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .btn, .btn-primary {
    width: 90%;
    margin-left: 5%;
  }

  .recent_destinations {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
  }

  .recent_destinations ul {
    text-align: left;
  }

  input#activities_ {
    margin-left: 5%;
  }

  input[type="text"]{
      background-color: transparent;
      border: 1px solid #FCA311;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }

  input#trip_log_miles, input#trip_log_description {
      background-color: transparent;
      border: 1px solid #FCA311;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: white;
  }

}
