body {
  background: asset-data-url('welcome_splash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
h1 {
  padding: 25px;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
p {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.oauth-button {
  position: fixed;
  left: 45%;
  bottom: 30%;
  border: 2px solid black;
}
