@import 'bootstrap';
@import '_welcome';
@import '_search';
@import '_dashboard';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  // padding-top: 65px;
  background: linear-gradient(180deg, #4d9450, #5a97b4, #5a60b7);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
}

@media screen and (max-width: 768px) {

  body {
    font-size: 1.25em;
  }

  h1 {
    padding: 25px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
  }

  .navbar .nav > li {
    z-index: 10000;
    background: #333138;
  }

  .btn {
    background: #4FB54F;
    color: #333138;
    border: 1px solid #333138;
  }

  .root-btn:hover, .root-btn:focus, .root-btn:active, .root-btn.active {
      border: 1px solid #FCA311;
      background: none;
  }

  .btn-sample:active {
    box-shadow: none;
    background: none;
    color: #333138;
  }

  .nav-link:hover{
      color: #FCA311;
  }

  #title {
    color: #4FB54F;
  }

  #mapid { height: 100vh; }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5em;
  }

  h1 {
    padding: 25px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
  }

  .navbar .nav > li {
    z-index: 10000;
    background: #333138;
  }

  .btn {
    background: #4FB54F;
    color: #333138;
    border: 1px solid #333138;
  }

  .root-btn:hover, .root-btn:focus, .root-btn:active, .root-btn.active {
      border: 1px solid #FCA311;
      background: none;
  }

  .btn-sample:active {
    box-shadow: none;
    background: none;
    color: #333138;
  }

  .nav-link:hover{
    color: #FCA311;
  }

  #title {
    color: #4FB54F;
  }

  #mapid { height: 100vh; }

}
