@import 'bootstrap';
@import '_welcome';
@import '_search';
@import '_dashboard';
@import '_trip_logs';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #e8ede8 !important;
}

.background {
  background:url('./mountain_road.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: calc(50% - 50px) 50%;
  background-repeat: no-repeat;
}

.layer {
  background: rgba(79, 181, 79, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

img {
  display: block;
}

@media screen and (max-width: 768px) {

  body {
    font-size: 1.25em;
  }

  h1 {
    padding: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
  }

  .navbar .nav > li {
    z-index: 10000;
    background: #333138;
  }

  .btn {
    background: #4FB54F;
    border: 1px solid #333138;
  }

  .root-btn:hover, .root-btn:focus, .root-btn:active, .root-btn.active {
      border: 1px solid #FCA311;
      background: none;
  }

  .btn-sample:active {
    box-shadow: none;
    background: none;
    color: #333138;
  }

  .nav-link:hover{
      color: #FCA311;
  }

  #title {
    color: #4FB54F;
  }

  #mapid { height: 100vh; }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5em;
  }

  h1 {
    padding: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
  }

  .navbar .nav > li {
    z-index: 10000;
    background: #333138;
  }

  .btn {
    background: #4FB54F;
    border: 1px solid #333138;
  }

  .root-btn:hover, .root-btn:focus, .root-btn:active, .root-btn.active {
      border: 1px solid #FCA311;
      background: none;
  }

  .btn-sample:active {
    box-shadow: none;
    background: none;
    color: #333138;
  }

  .nav-link:hover{
    color: #FCA311;
  }

  #title {
    color: #4FB54F;
  }

  #mapid { height: 100vh; }

}
