<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyeWFncmFjZSIsImEiOiJjanM0eG9qMmIwOXlhNDVuaTNuOXMzcXd1In0.Y3D7BRb8btkvg5JV_6PZaQ';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
center: [<%= @lng %>, <%= @lat %>], // starting position [lng, lat]
zoom: 9 // starting zoom
});
</script>
